<!DOCTYPE html>
<html>
    <head>
        <title>Weather About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was a project for an online node.js class I am taking. 
                It uses the <a href="https://mapbox.com">Mapbox</a> and <a href="https://weatherstack.com">
                Weatherstack</a> API&apos;s to convert the location to geocoordinates and lookup some weather stats
                for the input area. It is written in javascript/node.js and uses the handlebars framework. Below is
                a picture of a pink floyd album cover because having an image here was part of the assignment and it
                was the first one i found.
            </p>
            <img class="portrait" src="/img/pf.png" alt="why">
        </div>
        {{>footer}}
    </body>
</html>

